<h1>Cocktails</h1>


<% @cocktails.each do |cocktail| %>
  <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
  <p>
    <%= link_to cocktail_path(cocktail), method: :delete do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </p>
<% end %>

<%= link_to "add cocktail", new_cocktail_path %>
